.UserRow {
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid rgba(172, 177, 182, 0.33);
  border-radius: 4px;
}

.UserRow.selected {
  background-color: rgba(213, 176, 242, 0.1);
}

.UserRow.displayOnly {
  border-radius: 0px;
}

.UserRow .user {
  display: flex;
  align-items: center;
}

.UserRow .user img {
  height: 36px;
}

.UserRow .user h3 {
  margin-left: 24px;
  font-size: 22px;
  line-height: 26px;
  color: #59636E;
}
