.SiteHeader {
  position: fixed;
  height: 75px;
  background-color: #f2f3f4;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 5;
}

.SiteHeader nav {
  padding: 0 0 0 10%;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.SiteHeader nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SiteHeader nav ul li {
  list-style-type: none;
  display: flex;
  margin-left: 24px;
}

.SiteHeader nav ul > li > a {
  text-decoration: none;
  color: #031323;
  font-size: 16px;
  padding: 24px;
  position: relative;
}

.SiteHeader .alert {
  font-size: 11px;
  border-radius: 50px;
  background-color: #AB61E5;
  position: absolute;
  color: #fff;
  width: 16px;
  height: 16px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 0;
  box-sizing: border-box;
}

.SiteHeader nav .userLinks {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;

}

.SiteHeader nav .userLinks .feedbackCycle {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  padding-top: 10px;
  margin-right: 24px;
  border-right: 1px solid rgba(12, 12, 12, 0.12);
}

.SiteHeader nav .userLinks .feedbackCycle label {
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0;
}

.SiteHeader nav .userLinks .feedbackCycle h4 {
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
}

.SiteHeader nav .userLinks .userMenu {
  display: flex;
  min-width: 200px;
}

.SiteHeader nav .userLinks .userMenu span {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SiteHeader nav .userLinks .userMenu span a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #59636E;
  text-transform: uppercase;
  font-size: 12px;
}
